# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# Virtual environments
venv/
env/

# IDE files
.idea/
.vscode/

# Screenshots and logs
*.log
*.png